[submodule "cursor-agent-windows"]
	path = cursor-agent-windows
	url = https://github.com/TomasHubelbauer/cursor-agent-windows
	description = 
	created-at = 2025-08-15T09:08:23Z
	updated-at = 2025-10-10T13:05:03Z
	pushed-at = 2025-08-15T09:55:15Z
	homepage = 
	archived = false
	topics = 
	title = Hacking Cursor Agent to run on Windows

[submodule "git-dot-ds_store-global-ignore"]
	path = git-dot-ds_store-global-ignore
	url = https://github.com/TomasHubelbauer/git-dot-ds_store-global-ignore
	description = Information on how to hide the infamous .DS_Store macOS file using the global Git ignore configuration option.
	created-at = 2023-05-21T17:06:24Z
	updated-at = 2023-05-21T21:15:02Z
	pushed-at = 2023-05-21T17:07:07Z
	homepage = https://hubelbauer.net/git-dot-ds_store-global-ignore/
	archived = false
	topics = dsstore,git,git-ignore,macos
	title = Git `.DS_Store` Global Ignore

[submodule "podman"]
	path = podman
	url = https://github.com/TomasHubelbauer/podman
	description = My explorations of the Podman container tool, an alternative to Docker.
	created-at = 2023-05-21T17:12:00Z
	updated-at = 2023-05-23T04:46:16Z
	pushed-at = 2023-05-21T17:12:57Z
	homepage = https://hubelbauer.net/podman/
	archived = false
	topics = containers,docker,podman
	title = Podman

[submodule "fatcow-icons"]
	path = fatcow-icons
	url = https://github.com/TomasHubelbauer/fatcow-icons
	description = FatCow icons v3.9.2 (I was given a permission to host these on GitHub by FatCow support.)
	created-at = 2019-06-08T09:17:01Z
	updated-at = 2025-06-07T20:07:44Z
	pushed-at = 2023-05-21T21:17:49Z
	homepage = https://tomashubelbauer.github.io/fatcow-icons
	archived = false
	topics = fatcow,fatcow-icons,hubelbauer-net,icon-pack,icon-set,icons
	title = FatCow Icons

[submodule "open-source-encore-2023-05-22"]
	path = open-source-encore-2023-05-22
	url = https://github.com/TomasHubelbauer/open-source-encore-2023-05-22
	title = Open Source Encore: Playwright `test.only` with `forbidOnly` error message improvement
	description = Open Source Encore post about my Playwright test runner forbidOnly mode error message improvement contribution
	created-at = 2023-05-22T19:57:30Z
	updated-at = 2023-05-22T20:23:12Z
	pushed-at = 2023-05-23T07:48:30Z
	homepage = https://hubelbauer.net/open-source-encore-2023-05-22
	archived = false
	topics = open-source,open-source-encore,playwright

[submodule "open-source-encore-2023-05-23-vs-code"]
	path = open-source-encore-2023-05-23-vs-code
	url = https://github.com/TomasHubelbauer/open-source-encore-2023-05-23-vs-code
	title = Open Source Encore: VS Code create path while renaming with `/`
	description = A post about my investigation into how to add a VS Code feature I\\'ve so desired it already had for a long time.
	created-at = 2023-05-23T17:01:36Z
	updated-at = 2023-05-25T19:07:17Z
	pushed-at = 2023-05-23T17:54:00Z
	homepage = https://hubelbauer.net/open-source-encore-2023-05-23-vs-code
	archived = false
	topics = open-source,vs-code,vscode

[submodule "open-source-encore-2023-05-25-liquid-js"]
	path = open-source-encore-2023-05-25-liquid-js
	url = https://github.com/TomasHubelbauer/open-source-encore-2023-05-25-liquid-js
	title = Open Source Encore: LiquidJS Jekyll filter support improvement contributions
	description = A post about my contributions to LiquidJS and a little bit about how I built my site, hubelbauer.net
	created-at = 2023-05-25T19:58:06Z
	updated-at = 2023-05-25T20:32:20Z
	pushed-at = 2023-05-26T15:57:00Z
	homepage = https://hubelbauer.net/open-source-encore-2023-05-25-liquid-js
	archived = false
	topics = github-pages,jekyll,liquid,liquidjs,open-source,open-source-encore

[submodule "open-source-encore-2023-05-28-jekyll-readme-index"]
	path = open-source-encore-2023-05-28-jekyll-readme-index
	url = https://github.com/TomasHubelbauer/open-source-encore-2023-05-28-jekyll-readme-index
	title = Open Source Encore: `jekyll-readme-index` support for configurable regex
	description = My contribution to the jekyll-readme-index Jekyll plugin that ships with GitHub Pages out of the box.
	created-at = 2023-05-28T13:58:47Z
	updated-at = 2023-05-28T14:14:42Z
	pushed-at = 2023-05-28T14:13:43Z
	homepage = https://hubelbauer.net/open-source-encore-2023-05-28-jekyll-readme-index
	archived = false
	topics = github,github-pages,jekyll,open-source,readme,ruby

[submodule "open-source-encore-2023-05-28-websaver"]
	path = open-source-encore-2023-05-28-websaver
	url = https://github.com/TomasHubelbauer/open-source-encore-2023-05-28-websaver
	title = Open Source Encore: WebSaver
	description = My attempts at improving the user-friendliness of WebSaver and getting it to work for my needs.
	created-at = 2023-05-28T16:02:40Z
	updated-at = 2023-05-28T16:25:26Z
	pushed-at = 2023-05-28T16:31:29Z
	homepage = https://hubelbauer.net/open-source-encore-2023-05-28-websaver
	archived = false
	topics = mac-os,macos,objective-c,open-source,open-source-encore,screen-saver,xcode

[submodule "open-source-encore-2023-05-28-liquid-js"]
	path = open-source-encore-2023-05-28-liquid-js
	url = https://github.com/TomasHubelbauer/open-source-encore-2023-05-28-liquid-js
	title = Open Source Encore: LiquidJS shell script \"portability\" for macOS
	description = My contribution to LiquidJS and the improvement to its full build experience on macOS.
	created-at = 2023-05-28T19:33:31Z
	updated-at = 2023-05-28T19:53:25Z
	pushed-at = 2023-05-28T19:52:30Z
	homepage = https://hubelbauer.net/open-source-encore-2023-05-28-liquid-js
	archived = false
	topics = github-pages,jekyll,liquid,liquid-js,open-source,open-source-encore

[submodule "supabase-studio-filter-non-empty-array"]
	path = supabase-studio-filter-non-empty-array
	url = https://github.com/TomasHubelbauer/supabase-studio-filter-non-empty-array
	title = Supabase Studio filter non-empty array
	description = A note on how to filter non-empty array in Supabase Studio
	created-at = 2023-05-28T20:05:37Z
	updated-at = 2023-05-28T20:15:50Z
	pushed-at = 2023-05-28T20:14:39Z
	homepage = https://hubelbauer.net/supabase-studio-filter-non-empty-array
	archived = false
	topics = postgres,supabase,supabase-studio

[submodule "github-token-edit-another-repo"]
	path = github-token-edit-another-repo
	url = https://github.com/TomasHubelbauer/github-token-edit-another-repo
	title = `GITHUB_TOKEN` edit another repository
	description = An experiment to see if the GitHub Actions integration PAT can edit repository metadata
	created-at = 2023-05-29T20:25:39Z
	updated-at = 2023-05-29T20:57:00Z
	pushed-at = 2023-05-29T20:56:21Z
	homepage = https://hubelbauer.net/github-token-edit-another-repo
	archived = false
	topics = github-actions,github-api,github-token

[submodule "open-source-encore-2023-05-30-jekyll"]
	path = open-source-encore-2023-05-30-jekyll
	url = https://github.com/TomasHubelbauer/open-source-encore-2023-05-30-jekyll
	title = Open Source Encore: Jekyll documentation improvements for Include/Exclude
	description = An account of my contribution to the Jekyll project documentation to clarify the Exclude and Include configuration options\\' behavior.
	created-at = 2023-06-02T20:12:53Z
	updated-at = 2023-06-02T20:43:19Z
	pushed-at = 2023-06-02T20:42:19Z
	homepage = https://hubelbauer.net/open-source-encore-2023-05-30-jekyll
	archived = false
	topics = config-yml,jekyll,open-source,open-source-encore,ruby
