[submodule "git-dot-ds_store-global-ignore"]
	path = git-dot-ds_store-global-ignore
	url = https://github.com/TomasHubelbauer/git-dot-ds_store-global-ignore
	description = Information on how to hide the infamous .DS_Store macOS file using the global Git ignore configuration option.
	created-at = 2023-05-21T17:06:24Z
	updated-at = 2023-05-21T21:15:02Z
	pushed-at = 2023-05-21T17:07:07Z
	homepage = https://hubelbauer.net/git-dot-ds_store-global-ignore/
	archived = false
	topics = dsstore,git,git-ignore,macos
	title = Git `.DS_Store` Global Ignore

[submodule "podman"]
	path = podman
	url = https://github.com/TomasHubelbauer/podman
	description = My explorations of the Podman container tool, an alternative to Docker.
	created-at = 2023-05-21T17:12:00Z
	updated-at = 2023-05-21T21:14:39Z
	pushed-at = 2023-05-21T17:12:57Z
	homepage = https://hubelbauer.net/podman/
	archived = false
	topics = containers,docker,podman
	title = Podman

[submodule "fatcow-icons"]
	path = fatcow-icons
	url = https://github.com/TomasHubelbauer/fatcow-icons
	description = FatCow icons v3.9.2 (I was given a permission to host these on GitHub by FatCow support.)
	created-at = 2019-06-08T09:17:01Z
	updated-at = 2023-05-09T07:40:11Z
	pushed-at = 2023-05-21T21:17:49Z
	homepage = https://tomashubelbauer.github.io/fatcow-icons
	archived = false
	topics = fatcow,fatcow-icons,icon-pack,icon-set,icons
	title = FatCow Icons

[submodule "open-source-encore-2023-05-22"]
	path = open-source-encore-2023-05-22
	url = https://github.com/TomasHubelbauer/open-source-encore-2023-05-22
	title = Open Source Encore: Playwright `test.only` with `forbidOnly` error message improvement
	description = Open Source Encore post about my Playwright test runner forbidOnly mode error message improvement contribution
	created-at = 2023-05-22T19:57:30Z
	updated-at = 2023-05-22T20:23:12Z
	pushed-at = 2023-05-22T20:13:15Z
	homepage = https://hubelbauer.net/open-source-encore-2023-05-22
	archived = false
	topics = open-source,open-source-encore,playwright
