[submodule "git-dot-ds_store-global-ignore"]
	path = git-dot-ds_store-global-ignore
	url = https://github.com/TomasHubelbauer/git-dot-ds_store-global-ignore
	description = Information on how to hide the infamous .DS_Store macOS file using the global Git ignore configuration option.
	created-at = 2023-05-21T17:06:24Z
	updated-at = 2023-05-21T19:23:43Z
	pushed-at = 2023-05-21T17:07:07Z
	homepage = 
	archived = false
	topics = dsstore,git,git-ignore,macos
	title = Git `.DS_Store` Global Ignore

[submodule "podman"]
	path = podman
	url = https://github.com/TomasHubelbauer/podman
	description = My explorations of the Podman container tool, an alternative to Docker.
	created-at = 2023-05-21T17:12:00Z
	updated-at = 2023-05-21T18:53:41Z
	pushed-at = 2023-05-21T17:12:57Z
	homepage = 
	archived = false
	topics = containers,docker,podman
	title = Podman
