---
# Note that this front matter is required for Liquid to run on this page
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tomas Hubelbauer</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="index.css" />
    <link rel="icon" href="favicon.ico" />
    <script type="module" src="index.js"></script>
  </head>
  <body>
    <h1>Tomas Hubelbauer</h1>
    <a href="posts/podman">Podman</a>
    <a href="posts/git-ds-store-global-ignore">
      Git
      <code>.DS_Store</code>
      Global Ignore
    </a>
    {% capture text %}{% include_relative .gitmodules %}{% endcapture %}
    {% assign lines = text | newline_to_br | strip_newlines | split: '<br />' | reverse %}
    {% for rawLine in lines %}
      {% assign line = rawLine | strip %}
      {% assign pair = line | split: ' = ' %}
      {% assign key = pair | first %}
      {% case key %}
        {% when "path" %}
          {% assign path = value %}
          <!-- path = "{{ path }}" -->
        {% when "url" %}
          {% assign url = value %}
          <!-- url = "{{ url }}" -->
        {% when "description" %}
          {% assign description = value %}
          <!-- description = "{{ description }}" -->
        {% when "created-at" %}
          {% assign createdAt = value %}
          <!-- createdAt = "{{ createdAt }}" -->
        {% when "updated-at" %}
          {% assign updatedAt = value %}
          <!-- updatedAt = "{{ updatedAt }}" -->
        {% when "pushed-at" %}
          {% assign pushedAt = value %}
          <!-- pushedAt = "{{ pushedAt }}" -->
        {% when "homepage" %}
          {% assign homepage = value %}
          <!-- homepage = "{{ homepage }}" -->
        {% when "archived" %}
          {% assign archived = value %}
          <!-- archived = "{{ archived }}" -->
        {% when "topics" %}
          {% assign topics = value %}
          <!-- topics = "{{ topics }}" -->
      {% endcase %}
      {% assign chars = line | split: '' %}
      {% assign firstChar = chars | first %}
      {% assign lastChar = chars | last %}
      <!-- "{{ line }}" "{{ firstChar }}" "{{ lastChar }}" "{{ firstChar == '[' }}" "{{ lastChar == ']' }}" -->
      {% if firstChar == '[' and lastChar == ']' %}
        {% assign value = pair | last %}
        <a href="{{ path }}">{{ path }}</a>
        {% assign path = empty %}
        {% assign url = empty %}
        {% assign description = empty %}
        {% assign createdAt = empty %}
        {% assign updatedAt = empty %}
        {% assign pushedAt = empty %}
        {% assign homepage = empty %}
        {% assign archived = empty %}
        {% assign topics = empty %}
      {% endif %}
    {% endfor %}
  </body>
</html>
