---
# Note that this front matter is required for Liquid to run on this page
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tomas Hubelbauer</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="index.css" />
    <link rel="icon" href="favicon.ico" />
    <script type="module" src="index.js"></script>
  </head>
  <body>
    <h1>Tomas Hubelbauer</h1>
    {% capture text %}{% include_relative .gitmodules %}{% endcapture %}
    {% assign lines = text | newline_to_br | strip_newlines | split: '<br />' | reverse %}
    {% for rawLine in lines %}
      {% assign line = rawLine | strip %}
      {% assign pair = line | split: ' = ' %}
      {% assign key = pair | first %}
      {% assign value = pair | last %}
      {% case key %}
        {% when "path" %}
          {% assign path = value %}
        {% when "url" %}
          {% assign url = value %}
        {% when "title" %}
          {% assign title = value %}
        {% when "description" %}
          {% assign description = value %}
        {% when "created-at" %}
          {% assign createdAt = value %}
        {% when "updated-at" %}
          {% assign updatedAt = value %}
        {% when "pushed-at" %}
          {% assign pushedAt = value %}
        {% when "homepage" %}
          {% assign homepage = value %}
        {% when "archived" %}
          {% assign archived = value %}
        {% when "topics" %}
          {% assign topics = value %}
      {% endcase %}
      {% assign maybeSubmodule = line | slice: 1, 9 %}
      {% if maybeSubmodule == 'submodule' %}
        <a href="{{ path }}">
          {{ title }}
          {% unless description == empty %}
            <div>
              {{ description }}
            </div>
          {% endunless %}
          {% for topic in topics %}
            <span>{{ topic }}</span>
          {% endfor %}
        </a>
        {% assign path = empty %}
        {% assign url = empty %}
        {% assign title = empty %}
        {% assign description = empty %}
        {% assign createdAt = empty %}
        {% assign updatedAt = empty %}
        {% assign pushedAt = empty %}
        {% assign homepage = empty %}
        {% assign archived = empty %}
        {% assign topics = empty %}
      {% endif %}
    {% endfor %}
  </body>
</html>
