name: git-submodules
on:
  push:
    paths:
      - .gitmodules
      - .github/workflows/git-submodules.yml
      - .github/workflows/git-submodules/
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'
jobs:
  git-submodules:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository to have the workflow scripts available
        uses: actions/checkout@v3

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2

      - name: Run the scan script
        run: bun .github/workflows/git-submodules/scan.ts
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Sync .gitmodules changes with Git Modules
        uses: TomasHubelbauer/github-action-auto-git-modules@main

      - name: Run the lint script
        run: bun .github/workflows/git-submodules/lint.ts
